/* highlightPanel.css */
.highlight-panel {
    border: 1px solid #0070d2;
	border-radius: 10px;
	background: #FFF;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
	
}

.header {
    font-weight: bold;
    color: #0070d2;
    margin-bottom: 5px;
}
.flex-container{
    display: flex; /* Use flexbox layout */
    flex-direction: row; /* Arrange items vertically */
    /* Additional styles */
    /* width: 300px; */
    /* border: 1px solid #ccc; */
    padding: 10px;
    gap:10px;
    float: left;
}

.highlightpanel-inner{
    display: flex;
    /* width: 1177px; */
    justify-content: space-between;
    align-items: center;
}

.content {
    color: #333333;
}

.progressbarcss{
    
}