.custom-textarea {
    align-items: center;
    height: 75%; 
    width: 95%;  
 margin: 0px;
 
  
 }

 .buttongroup{
    margin:10px;
 }

.tile{
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    padding: 5px 5px;
    margin: 3px 0px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background: linear-gradient(30.31deg, #f1f5f3 4.37%, #ffffff 70.19%);
    height: auto;
}
.margin-icon{
	margin:5%;
}
/* .slds-align_absolute-center{
    padding-top: 5px;
} */