.custom-container {
	color: black;
}

.impactedClass {
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.error-row {
	border: 2px solid #ea001e;
	border-radius: 0.5rem;
	padding: 1rem;
	background-color: #fff0f0;
}